#container{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
#selectedWord{
  margin: 50px 230px 20px 230px;
  font-size: 40px;
  border: 2px solid;

}
.key{
  box-shadow: 0px 2px 2px 0px;
}
.key:hover{
    position: relative;
    bottom: -2px;
    box-shadow: none;
}
.key{
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}

#gallows{
  margin: 20px 200px;
}
